@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: whitesmoke;
}
.banner
{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.banner img
{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;
}
.header
{
  position:absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
.header-list li
{
  list-style: none;

}
.banner-text
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner-text h2
{
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
}
.banner-text p
{
  width: 65%;
  margin-bottom: 55px;
}
button
{
  padding: 12px;
  color: white;
  background: #0077ff;
  border: none;
  border-radius: 5px;
}
.skills
{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}
.skills-list
{
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  width: 32%;
}
.icon
{
  width: 45px;
  height: 45px;
  background-color: #b3c1d1;
  border-radius: 50%;
  margin-right: 10px;
}
.skillstext h4{
  margin-bottom: 4px;
}
.promotion
{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}
.promotiontext
{
  width: 45%;
  height: auto;
   /* display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between;  */
}
.innertext
{
  margin-bottom: 40px;
}
.innertext h2
{
  margin-bottom: 20px;
}
.innertextlist
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.innertextlist .listitem
{
  display: flex;
  flex-direction: column;
}
.innertextlist .listitem h4
{
  margin: 15px 0px;
}
.promotionimg
{
  width: 45%;
  height: 100vh;
}
.promotionimg img
{
  width: 100%;
  height: 100%;
}
.prices
{
  width: 100%;
  padding: 60px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.prices h3
{
  margin-bottom: 10px;
  font-size: 22px;
}
.priceheadtext
{
  width: 40%;
  text-align: center;
}
.pricetable
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pricetable h4
{
  font-size: 20px;
  font-weight: 400;
  /* margin-top: 15px; */
}
.pricelist
{
  width: 35%;
  height: 90vh;margin-top: 40px;
  border: none;
  border-radius: 2px;
  padding: 40px;
  box-shadow: 0 0 1px #6f6b6b;
  background: white;
}
.pricelist h4, .price{
  text-align: center;
  margin-bottom: 20px;
}
.price span
{
  font-size: 30px;
  font-weight: 400;
}
.pricelist button
{
  width: 100%;
  margin-top: 25px;
  border-radius: 2px;
}
.blue{
  background: #0077ff;
  color: white;
  box-shadow: 0 0 10px #6f6b6b;
  z-index: 1;
}
.blue button
{
  background: white;
  color: #0077ff;
}
.pricedetails
{
  list-style: none;
}
.pricedetails li, button
{
  margin-bottom: 15px;
}
.afterprice
{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px;
}
.afterpricetext
{
  width: 30%;
}
.afterprice img
{
  width: 40%;
  height: 90vh;
}
.afterpricetext h3, p
{
  margin-bottom: 15px;
}
.afterpricetext button
{
  width: 150px;
}
.afterpricelist 
{
  list-style: none;
  margin-bottom: 30px;
}
.afterpricelist li:before
{
  content: '\2714\0020';
  margin-right: 2px;
}
.blog
{
  width: 100%;
  height: auto;
  padding: 60px;
}
.blog h2
{
  margin-bottom: 40px;
  text-align: center;
  font-weight: 800;
}
.bloglist
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blognews
{
  width: 24%;
  background: white;
  padding: 35px 20px;
}
.blognews p
{
  margin-bottom: 10px;
}
.blognews a
{
  text-decoration: none;
  color: #0077ff;
}
.Contact
{
  width: 100%;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0077ff;
  color: white;
}
.contacttext
{
  width: 50%;
}
.contacttext h3
{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}
.Contact button
{
  border: 1px solid  white;
}
.footer
{
  width: 100%;
  padding: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 12px;
}
.footer h4
{
  margin-bottom: 20px;
  font-size: 15px;
}
.about
{
  width: 40%;
}
.packages
{
  width: 40%;
}
.packagelist
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
}
.packages ul
{
  list-style:  none;
}
.packages ul li
{
  margin-bottom: 10px;
  font-weight: 500;
}